<!DOCTYPE html>
<html>
<head>
<body>

	 <h4>Leave a Comment:</h4>
     
        <div class="form-group">
          <textarea class="form-control" rows="3" id="cmnt-input" required></textarea>
        </div>
        <button type="submit" class="btn btn-info" id="cmnt-btn">Submit</button>
       <p ><br> <div class="alert alert-success" id="cmnt-added" style="display: none;">
                <strong>Success!</strong> Comment Added successfully .
             </div>
        </p>     
      <br><br>
      
      <p><span class="badge">2</span> Comments:</p><br>
      
      <div class="row">
        <div class="col-sm-2 text-center">
          <img src="/blog/bird2.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Anja &nbsp; <span class="blog-post-meta glyphicon glyphicon-time"> </span>&nbsp; <small>Sep 29, 2015, 9:12 PM</small></h4>
          <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <br>
        </div>
        <div class="col-sm-2 text-center">
          <img src="/blog/bird1.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>John Row &nbsp; <span class="blog-post-meta glyphicon glyphicon-time"> </span>&nbsp; <small>Sep 25, 2015, 8:25 PM</small></h4>
          <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <br>
          <p><span class="badge">1</span> Comment:</p><br>
          <div class="row">
            <div class="col-sm-2 text-center">
              <img src="/blog/bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
            </div>
            <div class="col-xs-10">
              <h4>Nested Bro &nbsp; <span class="blog-post-meta glyphicon glyphicon-time"> </span>&nbsp; <small>Sep 25, 2015, 8:28 PM</small></h4>
              <p>Me too! WOW!</p>
              <br>
            </div>
          </div>
        </div>

        </div>
        <div class="row" id="cmnt-result" style="display: none;">
          <div class="col-sm-2 text-center">
          <img src="/blog/bird2.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4 ><%= user.local.email %> &nbsp; <span class="blog-post-meta glyphicon glyphicon-time"> </span>&nbsp; <small  id="cmnt-date"></small></small></h4>
          <p id="cmnt-p"></p>
          <br>
        </div>
        
        </div>
      
        
    <footer class="blog-footer" style="height: 5%">
      <p>Made  for imad-hasura  <a href="https://github.com/pallavi-vetal"> project </a> by <a href="https://discourse.imad.hasura.io/users/pallavi_vetal/activity">Pallavi Vetal - 2017.</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
     
     
      </div>  
     </div>
    </footer>
    <script type="text/javascript" src="/js/footer.js"></script>

</body>
</html>