<!DOCTYPE html>
<html>
<head>
	<title>Blog - Give it a try !!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="description" content="">
    <meta name="author" content="pallavi-vetal">
    <link rel="icon" href="/favicon">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
  .vertical-line {
  border-left: thick solid #ff0000;


}
  </style>

</head>
<body>
  <!--nav bar starts -->
	<div class="container">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><img src="/favicon.ico" class="navbar-brand img-responsive" style="padding-top: 0px;margin-top: -05px;">BlogSpot</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#categories">Categories</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Articles <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#articles">Article-1</a></li>
            <li><a href="article-two">Article-2</a></li>
            <li><a href="article-three">Article-3</a></li>
          </ul>
        </li>
        <li><a href="#about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a  onclick="document.getElementById('id01').style.display='block'" class="btn btn-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a  onclick="document.getElementById('id01').style.display='block'" class="btn btn-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
     
	</div><!--nav bar ends -->
  <!-- modal for signup and login -->
  <div id="id01" class="w3-modal" style="display: none;">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom ">
              <header class="w3-container w3-blue "> 
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-lightgray w3-xlarge w3-display-topright">&times;</span>
              </header>

              <div class="w3-bar w3-border-bottom  " >
                <button class="tablink w3-bar-item w3-button w3-xlarge " style=" width: 50%;" onclick="openCity(event, 'Signup')">SignUp
                </button>
                <button class="tablink w3-bar-item w3-button w3-xlarge" style=" width: 50%;" onclick="openCity(event, 'Login')">Login
                </button>
              </div>
              <div id="Signup" class="w3-container op ">
                <center><div style="width: 50%; margin-left: 5%;margin-top: 5%;" >
                  <form class="form-group" action="signup" method="post"> 
                   <input type="email" class="form-control" name="email" placeholder="Enter Email Address" required /><br>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password" required />
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;" name="signup">Signup</button>
                  </form>
                </div></center>
                
              </div>

              <div id="Login" class="w3-container op">
                <center><div style="width: 50%; margin-left: 5%;margin-top: 5%;" >
                <!-- show any messages that come back with authentication -->
 
                  <form class="form-group" action="login" method="post">
                      
                    <input type="email" class="form-control" name="email" placeholder="Enter Username(Email Address)" required /><br>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password" required />
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;" name="login">Login</button>
                  </form>
                </div></center>
            
              </div>

         </div> 
       </div> <!--modal ends -->     


      <!--- Carousel -->
      <div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-top: 0px;">
    <!-- Indicators -->
    <ol class="carousel-indicators" >
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" >
      <div class="item active" >
        <img class="first-slide" src="bg1.jpg" alt="Chania" >
            <div class="carousel-caption ">
              <h1>What's Your Story ??</h1>
              <p>Just Give it a try !! Tell us what's happening in your life</p>
              <p><a class="btn btn-lg btn-primary" onclick="document.getElementById('id01').style.display='block'" role="button">Sign up today</a></p>
            </div>
      </div>

      <div class="item">
        <img src="bg2.jpg" alt="Chania" >
        <div class="carousel-caption ">
              <h1>What's Your Story ??</h1>
              <p>Just Give it a try !! Tell us what's happening in your life</p>
              <p><a class="btn btn-lg btn-primary" onclick="document.getElementById('id01').style.display='block'" role="button">Sign up today</a></p>
            </div>
      </div>
    
      <div class="item">
        <img src="bg3.jpg" alt="Flower" >
        <div class="carousel-caption ">
              <h1>Write now,right here,start writing</h1>
              <p>You can write whenever you want, from wherever you want. Explore yourself. Have fun writing.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
      </div>

     
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
    <!---End of Carousel-->


    <!--start of categories -->
    <div class="container" id="categories">
   <hr> <div class="h1"><center>Categories</center></div><hr>
    
    	<div class="skillbar clearfix " data-percent="80%">
      	<div class="skillbar-title" style="background: #88cd2a;"><span>Technology</span></div>
      	<div class="skillbar-bar" style="background: #88cd2a;"></div>
      	<div class="skill-bar-percent">80%</div>
      </div>
      <div class="skillbar clearfix " data-percent="30%">
        <div class="skillbar-title" style="background: #2980b9;"><span>LifeStyle</span></div>
        <div class="skillbar-bar" style="background: #3498db;"></div>
        <div class="skill-bar-percent">30%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="90%">
        <div class="skillbar-title" style="background: #2c3e50;"><span>Music</span></div>
        <div class="skillbar-bar" style="background: #2c3e50;"></div>
        <div class="skill-bar-percent">90%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="70%">
        <div class="skillbar-title" style="background: #46465e;"><span>Sports</span></div>
        <div class="skillbar-bar" style="background: #5a68a5;"></div>
        <div class="skill-bar-percent">70%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="65%">
        <div class="skillbar-title" style="background: #333333;"><span>Movies</span></div>
        <div class="skillbar-bar" style="background: #525252;"></div>
        <div class="skill-bar-percent">65%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="75%">
        <div class="skillbar-title" style="background: #27ae60;"><span>Social Networking</span></div>
        <div class="skillbar-bar" style="background: #2ecc71;"></div>
        <div class="skill-bar-percent">75%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="85%">
        <div class="skillbar-title" style="background: #124e8c;"><span>Photography</span></div>
        <div class="skillbar-bar" style="background: #4288d0;"></div>
        <div class="skill-bar-percent">85%</div>
      </div> <!-- End Skill Bar -->
      <div class="row">
        <div class="col-md-5 col-md-offset-6" style="margin-top: 5%"><div class="bounce  " ><a href="#articles" class="glyphicon glyphicon-chevron-down " style="font-size: 50px;text-decoration: none;color: black;"></a></div></div>
    </div>
      </div>
  
    <!--- end of categories --> 


    <!--start of articles -->
   <div class="container" id="articles">
   <br><hr><div class="h1"><center>Articles</center></div><hr>
      <div class="row">
         <div class="col-sm-12">
          <div class="navbar-header">
            <h2 class="h2">Article One - How to make your localhost accessible in internet by Ngrok</h2>
            <p class="blog-post-meta">Feb 5, 2017 by <a href="https://discourse.imad.hasura.io/users/chatan">Melvin George</a></p>
            <p>This blog post shows how to make your localhost accessible over the internet using ngrok tool.
            This will help in avoiding time require to host your application on cloud or any free hosting server 
            </p>
            <hr>
        
            <h3>Step 1</h3>
            <p>Go to this link and download ngrok <a href="https://ngrok.com/download"> https://ngrok.com/download</a></p>
            <h3>Step 2</h3>
            <p>Unzip the downloaded file and put in your Desktop or anywhere you desire and Open it.</p>
            <h3>Step 3</h3>
            <p>Start your server.js server and make the note of the port your server is listening on !</p>
            <p><img class="img-thumbnail" src="/images/blog/art1.png" /> </p>
            <h3>Step 4</h3>
            <p> Go to ngrok and type " ngrok http yourPortNumber " ( Mine's : ngrok http 8080   ) and hit Enter .</p>
            <p><img class="img-thumbnail" src="/images/blog/art1_2.PNG" /> </p>
            <h3>Step 5</h3><p>Another ngrok page will pop up and note the web address which shows forwarding from it .</p>
            <p><img class="img-thumbnail" src="/images/blog/art1_3.PNG"></p>
          </div><!-- /.blog-post -->
       </div>
     </div>
     <div class="row" style="margin-top: 5%;" >
      <div class="col-md-6 col-md-offset-1"><div class="bounce1  " ><a onclick="document.getElementById('id01').style.display='block'"  class="btn btn-link glyphicon glyphicon-chevron-right " style="font-size: 30px;text-decoration: none;color: black;">Want to see more articles..</a></div></div>
    </div>
     </div><br>
     <!-- End of Articles -->

     <!--start of About -->
     <div class="container" id="about">
     <div class="well">
         <div class="row">
           <div class="col-md-4 ">
              <% if (message.length > 0) { %>
              <div class="alert alert-success"><%= message %></div>
            <% } %>
                       <h3>Send Me Feedback !</h3><hr>
             <form class="form-group " action="/feedback" method="post" >
             <input type="text" class="form-control " name="feedback_name" placeholder="Enter Your Name"><br>
              <input type="email" class="form-control" name="feedback_email" placeholder="Enter Your Email-Address"><br>
              <textarea name="feedback_d" class="form-control" placeholder="Leave Feedback !"></textarea><br>
              <button type="submit" class="btn btn-primary">Send Feedback !</button>
              </form>
            </div>
             <div class="col-md-5 col-md-offset-2 vertical-line" style="padding-left: 5%;">
               <h3 style="">Contact Details</h3><hr>
               <p>Do give feedback. It will help me to improve myself</p>
               <p ><br> <a class="btn btn-social-icon btn-github btn-md"  href="http://github.com/pallavi-vetal"><span class="fa fa-github" ></span></a>
               &nbsp; <a class="btn btn-social-icon btn-linkedin btn-md" href="https://in.linkedin.com/in/pallavi-vetal-0b80b3115"><span class="fa fa-linkedin" ></span></a>
                &nbsp; <a class="btn btn-social-icon btn-google btn-md" href="https://plus.google.com/+pallavivetal"><span class="fa fa-google" ></span></a><br>
               </p>
               <p><br>Thank You!</p>
               <p>Have Fun Blogging!</p>
               <p>:)</p>
            </div>
      </div>
     </div>
     </div>
      <!--end of About and contact -->
      <div class="container">
     <footer class="footer well" style="height: 85px;padding-top:0" >
        <span><center>Made  for imad-hasura  <a href="https://github.com/pallavi-vetal"> project </a> by <a href="https://discourse.imad.hasura.io/users/pallavi_vetal/activity" style="text-decoration: none">Pallavi Vetal - 2017.</a>.
        <a class="btn btn-link glyphicon glyphicon-heart " id="like-btn" style="font-size:24px;text-decoration:none;"></a><span  id="count"></span></center></span>
        <center><a href="#">Back to top</a></center>
    
      </div>
    </footer>


 


      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>

    

</body>
</html>